/* TODO: import font(s) */

:root {
  /* TODO: root styles */
  box-sizing: border-box;
}

* {
  /* TODO: resets */
}

/* TODO: your styles */

footer {
  height: 100px;
  /* width: 120%; */
  background-color: red;
}
